@using CSharpMVCDateTimeConversionFramework.Helpers;
@model CSharpMVCDateTimeConversionFramework.Models.UiDateTimeModel
<div class="formitem">
    @Html.HiddenFor(m => m.TimeZoneName)
    @Html.MyLabelFor(m => m.LocalTime, new { @class = "top" })
    @Html.UiDateBoxFor(m => m.LocalTime, new { @class = "timepicker" })
</div>