@using CustomModelBindingWithDateTime.Helpers
@model CustomModelBindingWithDateTime.Models.UiDateTimeModel

<li>
    <label>Date</label>
    @Html.UiDateBoxFor(m => m.LocalDate, new { @class = "datepicker" })
</li>
<li>
    <label>Time</label>
    @Html.UiTimeBoxFor(m => m.LocalTime, new { @class = "timepicker" })
</li>
@Html.HiddenFor(model => model.TimeZoneName)



